---
css: styles.css
js: calc.js
---

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link href="{{ css }}" rel="stylesheet">
        <script src="./js/calc.js" defer></script> 
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    </head>
    <body>
		<main>
            {{ content }}
		</main>
	</body>
    <footer>
        <span>Tool by Jarl Tetrazepam | <a href="https://github.com/JarlTetrazepam/caesar">GitHub Repo</a></span>
    </footer>
</html>